@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  font-family: 'Special Elite', cursive;
}

h1 {
    font-size: 100px;
}

h2 {
  font-size: 60px;
}


h1, h2, h3, p {
  font-family: 'Special Elite', cursive;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;

  z-index: 100;
}


@media screen and (min-width: 1301px) {
  .icon-bar {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .icon-bar {
    bottom: 0;
    width: 100%;
  }
  .icon-bar a {
    float: right;
  }
}


/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: transparent;
  font-size: 30px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.facebook {
  background: #D3D3D3;
  color: white;
}

.twitter {
  background: #D3D3D3;
  color: white;
}

.instagram {
  background: #D3D3D3;
  color: white;
}
